@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font-control($size: false, $weight: false,  $lh: false, $color: false) {
  @if $size { font-size: $size; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $color { color: $color; }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
