// Color system
$alto: #D0D0D0 !default;
$black: #000000 !default;
$white: #FFFFFF !default;
$mine-shaft: #333333 !default;
$boulder: #777777 !default;
$wild-sand: #F5F5F5 !default;
$curious-blue: #3498DB !default;
$curious-blue-alt: #278DD1 !default;
$blizzard-blue: #B0D6EF !default;

$colors: () !default;

$colors: map-merge(
  (
    "alto": $alto,
    "black": $black,
    "white": $white,
    "mine-shaft": $mine-shaft,
    "boulder": $boulder,
    "wild-sand": $wild-sand,
    "curious-blue": $curious-blue,
    "curious-blue-alt": $curious-blue-alt,
    "blizzard-blue": $blizzard-blue
  ),
  $colors
);

// Fonts
$ff-base: "Open Sans", Helvetica, Arial, sans-serif;
$ff-alt: "Raleway", sans-serif;


// Element sizes
$header-height: 80px;


// root variables
:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  --ff-base: #{inspect($ff-base)};
  --ff-alt: #{inspect($ff-alt)};
}
